spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/shoppingcart
    username: postgres
    password: kkkkk11111
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true

  sql:
    init:
      mode: always
      separator: "@@"

  web:
    resources:
      static-locations: classpath:/static/,file:./uploads/

server:
  port: 8080

external:
  api:
    key: ${MY_API_KEY:}
